<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJNZ5nKcCOaiHUzscbPj8jQsP26RQvw4g</string>
	<key>GCM_SENDER_ID</key>
	<string>867510130259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app101</string>
	<key>PROJECT_ID</key>
	<string>app101-2b60d</string>
	<key>STORAGE_BUCKET</key>
	<string>app101-2b60d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867510130259:ios:6de4868d2e36f6319fd8a6</string>
</dict>
</plist>